/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: o;
}
/* This is the banner part : css start     */
#hero {
  width: 1253px;
  height: 570px;
  left: 0;
  right: 0;
  top: 0;
  background: url("../assets/Hero-bg.png");
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  width: 870px;
  height: 508px;
  left: 192px;
  right: 192px;
  top: 22px;
  bottom: 3925px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-top: 18px;
  padding-bottom: 30px;
}

.title {
  font-family: "Azeret Mono", monospace;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 20px;
}

.btn {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  width: 180px;
  height: 57px;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 7px;
  border: none;
  background: rgb(13, 19, 33);
}
/* This is the banner part : css end     */
