/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: o;
}
#main-box{
  width: 100%;
  height: 100%;
}
/* This is the banner part : css start     */
#hero {
  width: 100%;
  height: 570px;
  left: 0;
  right: 0;
  top: 0;
  background: url("../assets/Hero-bg.png");
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  width: 870px;
  height: 508px;
  left: 192px;
  right: 192px;
  top: 22px;
  bottom: 3925px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-top: 18px;
  padding-bottom: 30px;
}

.title {
  font-family: "Azeret Mono", monospace;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 20px;
}

.btn {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  width: 180px;
  height: 57px;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 7px;
  border: none;
  background: rgb(13, 19, 33);
}
/* This is the banner part : css end     */
/* This is the section part : css start     */
#container {
  background: rgb(255, 255, 255);
  height: 1500px;
  width: 100%;
}
.primary-box {
  position: absolute;
  width: 80%;
  height: 1260px;
  left: 60px;
  right: 130px;
  top: 630px;
  bottom: 2574px;
  padding: 68px 85px 68px 85px;
  border-radius: 15px;
  background: rgba(13, 19, 33, 0.02);
}
.web {
  padding-bottom: 20px;
}
.primary-heading {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.peimary-description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.card {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-radius: 16px;

  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin: 32px 0px;
}
.card-two {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.card-section {
  background: linear-gradient(
    360deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.pera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 28px 0px;
  width: 731px;
  height: 206px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 410px;
  height: 189px;
  padding-left: 40px;
}
.card-text-row {
  width: 410px;
  height: 189px;
  margin: 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
}
.secondery-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0px;
}
.secondery-description {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.secondery-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  width: 129px;
  height: 41px;
  text-align: center;
  cursor: pointer;
}

.primary-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0px;
}
.primary-description {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.parimay-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  width: 129px;
  height: 41px;
  text-align: center;
  cursor: pointer;
}
.primay-img {
  height: 206px;
  width: 236px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#container .card {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* This is the section part : css end     */
/* This is the inspiration part : html start  */
.inspiration-box {
  height: 668px;
  width: 980px;
  left: 127px;
  padding: 0px;
  margin: 10px auto;
}
.inspiration-title {
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.inspiration-description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin: 24px 0px;
}
.inspiration-fram {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
  margin: 48px 0px;
  width: 980px;
  height: 528px;
  position: static;
}
iframe {
  border-radius: 14px;
}
/* This is the inspiration part : css end  */
/* This is the current target part : css start  */

#terget-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
}
.terget-box {
  margin: 10px auto;
  width: 980px;
  height: 390px;
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.terget-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 24px 0px;
}
.terget-description {
  margin: 24px 0px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

/* This is the current target part : css end  */
/* This is the target cart part : css start  */
.terget-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cards {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.target-card-one {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  width: 300px;
  height: 240px;
  border-radius: 14px;
  padding-bottom: 30px;
  background: rgba(255, 76, 30, 0.05);
}
.target-card-two {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  width: 300px;
  height: 240px;
  border-radius: 14px;
  background: rgba(0, 76, 232, 0.05);
}
.target-card-three {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  width: 300px;
  height: 240px;
  border-radius: 14px;
  background: rgba(255, 223, 0, 0.05);
}
.target-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin: 6px 0px;
}
.target-description {
  margin: 6px 0px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.target-link {
  margin: 20px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
/* This is the target cart part : css end  */
/* This is the support section part : css start  */
#support {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 400px;
}
.support-section {
  width: 900px;
  height: 270px;
  background: url("../assets/handshake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    url(Email);
  padding: 50px 34px 50px 34px;
  top: 3370px;
  bottom: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support-area {
  width: 925px;
  height: 159px;
  margin: 28px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.support-title {
  margin: 14px 0px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0px;
}
.support-description {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin: 14px 0px;
  opacity: 0.7;
}
.support-box {
  width: 471px;
  height: 49px;
  padding: 18px 19px 18px 19px;
  margin: 0px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 30px;
}

.support-search {
  margin: 0px 10px;
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: start;

  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  width: 270px;
}
.submit-btn {
  height: 20px;
  width: 68px;
  border-radius: 7px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 14px;
  padding: 15px 18px 15px 18px;
  border: none;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
.submit-button {
  font-weight: 800px;
  border: none;
  background: rgb(255, 255, 255);
}
.primary-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
#submit-button-chack {
  font-weight: 600;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 17px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
/* This is the support section part : css end  */
/* This is the footer navigation bar: css start   */

#footer {
  height: 86px;
  width: 100%;
}
.footer-box{
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.footer-text {
  border-radius: 12px;
  background: rgba(13, 19, 33, 0.03);
  /* padding: 28px 130px 28px 130px; */
  top: 5660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 500px;
  width: 100%;
}
.footer-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 32px 0px;
  height: 30px;
  width: 950px;
  margin: 32px 0px;
  padding: 0px;
  flex: none;
  align-self: center;
}
.footer-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 14px;
  padding: 0px;
}
.footer-icon {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
}
.footer-list{
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
}

/* This is the footer navigation bar: css end   */
